{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('request') }}
    {% endblock %}

{% block title %}Reset your password{% endblock %}


{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="card cardRestPass" >
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address, and we will send you an email with instructions to reset your password.
            </p>

            {{ form_start(requestForm, {'attr': {'class': 'form-outline'}}) }}
                {{ form_row(requestForm.email, {'attr': {'class': 'form-control my-3', 'id': 'typeEmail'}}) }}
                <label class="form-label" for="typeEmail"></label>
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100">Send password reset email</button>
            {{ form_end(requestForm) }}

            <div class="d-flex justify-content-center mt-4">
                <a class="btnRest" href="{{ path('app_login') }}">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
